<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPatientServlet</servlet-name>
        <servlet-class>controller.RegisterPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientInforServlet</servlet-name>
        <servlet-class>controller.PatientInforServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAppointment</servlet-name>
        <servlet-class>controller.CreateAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPatient</servlet-name>
        <servlet-class>controller.ListPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIinfor</servlet-name>
        <servlet-class>controller.UpdateIinfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDoctor</servlet-name>
        <servlet-class>controller.admin.ListDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDoctor</servlet-name>
        <servlet-class>controller.admin.CreateDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAppointment</servlet-name>
        <servlet-class>controller.EditAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorDeleteAppServlet</servlet-name>
        <servlet-class>controller.doctor.DoctorDeleteAppServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPatientServlet</servlet-name>
        <url-pattern>/registerpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientInforServlet</servlet-name>
        <url-pattern>/patientinfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAppointment</servlet-name>
        <url-pattern>/CreateAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPatient</servlet-name>
        <url-pattern>/ListPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIinfor</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDoctor</servlet-name>
        <url-pattern>/ListDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDoctor</servlet-name>
        <url-pattern>/CreateDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAppointment</servlet-name>
        <url-pattern>/EditAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorDeleteAppServlet</servlet-name>
        <url-pattern>/DoctorDeleteApp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
